.btn {
    height: 51px;
    display: flex;
    flex-direction: column;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: 3px solid black;
    cursor:pointer;
    border-radius: 30px;
    color: black;
    font-family: "Inter";
    font-size: 14px;
    font-weight: 500;
    transition: 0.3s;
    overflow: hidden;
    padding: 15px 25px;
    flex-shrink: 0;
 }
 .btn:hover {
    background-color: black;
 }
 .btn:hover .spnBtn1{
   margin-top: -32px;
 }
 .spnBtn1 {
    transition: 0.3s;
    margin-bottom: 15px;
 }
 .spnBtn2 {
    transition: 0.3s;
    color: white
 }