.statusWrap {
    margin-top: 20px;
    width: 500px;
    min-height: 300px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 50px 50px;

}
.h3 {
    font-weight: 600;
    margin-bottom: 10px;
}
.ordinary {
    font-weight: 400;
}
.st {
    padding: 0px;
    height: 20px;
}
@media screen and (max-width: 800px) {
    .statusWrap {
        width: 300px;
        height: auto;
        min-height: auto;
    }
    .st {
        padding: 0px;
        height: auto;
    }
}